.Checkout {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  padding: 0 5px;
}

.checkout > input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: #22abbd 0px 0px 2px, rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.checkout > input::placeholder {
  color: #aab7c4;
}

.checkout > input:focus,
.StripeElement--focus {
  box-shadow: #22abbd 0px 0px 6px, rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}


.checkout > .StripeElement.IdealBankElement,
.checkout > .StripeElement.PaymentRequestButton {
  padding: 0;
}
